.header {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    justify-content: center;
    height: 180px;
    /* box-shadow: 0px 5px 8px -6px #0e0e0e; */
}

.headingDiv {
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

.headerHeading {
    margin-top: 3rem;
    margin-left: 10px;
    font-size: 2.5rem;
    color: #f0f0f0;
    grid-area: 1 / 2 / 1 / 10;
}

.logo {
    width: 100px;
    margin-top: 1.6rem;
    margin-left: 5rem;
    grid-area: 1 / 2 / 1 / 10;
}