.songGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1175px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color: #141414;
}