.songGrid ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1175px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #141414;
    list-style-type: none;
}