.topMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    justify-content: center;
    width: 70%;
    margin: auto;
    height: 200px;
    margin-top: 1rem;
    padding-bottom: 1.3rem;

}

.topMainContent p:nth-child(1) {
    margin-bottom: 10px;
}

.welcomeText {
    width: 700px;
    line-height: 1.3rem;

}