.container {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #181818;
}

.left,
.right {
    display: flex;
    justify-content: center;
    width: 20rem;

}