.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    height: 40px;
    background-color: #292929;
}

a {
    text-decoration: none;
    margin-right: 50px;

}

nav a:nth-of-type(4) {
    margin-right: 5%;
}


a,
a:visited,
a:active {
    text-decoration: none;
    color: #69cae7;
}