.menu {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 800;
}

a {
    text-decoration: none;
    margin-right: 4%;

}

nav a:nth-of-type(3) {
    margin-right: 8%;
}

.google-login {
    background-color: blueviolet;
    font-weight: bold;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #69cae7;
}