.songCard {
    margin: 1.1rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.songCard p {
    position: absolute;
    background-color: #222;
    border-radius: 5px 5px 5px 5px;
    opacity: 92%;
    width: 170px;
    padding: 3px 0px 4px 0px;

}