.songCard {
    margin: 1rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    background-color: #111;

}

.songCard p {
    position: absolute;
    transform: translate(0%, -100%);
    background-color: #222;
    border-radius: 0px 0px 10px 10px;
    opacity: 92%;
    width: 180px;
    padding: 5px 0px 7px 0px;

}